<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log</title>
    <script type="text/javascript" src="../static/js/jquery-3.1.1.min.js"></script>
</head>

<body>
	<script type="text/javascript">
		var id = 1
		$.ajax({ 
        	type: "GET",    
            url: "/LogContent",
            dataType: "JSON",
            async: true,
            data: {
            	id: id,
            },
            success: function(data) {
          		//执行的代码
            	console.log(data)
            }
        })

	</script>


</body>
</html>